In [1]:
import pandas as pd
import tensorflow as tf

In [3]:
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 8us/step

In [4]:
df = pd.read_csv(csv_file)

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [6]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [7]:
#we need to convert object column to numeric column

In [10]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [11]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [12]:
#load the data

In [13]:
target = df.pop('target')

In [14]:
target.head()

0    0
1    1
2    0
3    0
4    0
Name: target, dtype: int64

In [17]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [18]:
dataset

In [21]:
for feature, target in dataset.take(1):
    print(feature.numpy(), target.numpy())

[ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ] 0

In [22]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [23]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(10, activation = 'relu'))
model.add(tf.keras.layers.Dense(10, activation = 'relu'))
model.add(tf.keras.layers.Dense(1))

model.compile(optimizer = 'adam', loss = tf.keras.losses.BinaryCrossentropy(from_logits = True ))
model.fit(train_dataset, epochs = 15)

Train for 303 steps
Epoch 1/15
303/303 [==============================] - 1s 4ms/step - loss: 3.5695
Epoch 2/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6710
Epoch 3/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6380
Epoch 4/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6722
Epoch 5/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5766
Epoch 6/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5678
Epoch 7/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6531
Epoch 8/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5451
Epoch 9/15
303/303 [==============================] - 1s 4ms/step - loss: 0.6109
Epoch 10/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5408
Epoch 11/15
303/303 [==============================] - 1s 4ms/step - loss: 0.5326
Epoch 12/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5184
Epoch 13/15
303/303 [==============================] - 1s 4ms/step - loss: 0.5161
Epoch 14/15
303/303 [==============================] - 1s 3ms/step - loss: 0.4873
Epoch 15/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4648